flask==3.0.3
joblib==1.5.1
numpy==1.26.4
pandas==2.2.3
matplotlib==3.9.2
reportlab==4.4.2
scikit-learn==1.7.0
werkzeug==3.0.4
jinja2==3.1.4
markupsafe==2.1.5
scipy==1.15.3
threadpoolctl==3.6.0
pillow==10.4.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
cycler==0.12.1
kiwisolver==1.4.7
fonttools==4.54.1
pytz==2025.2
tzdata==2025.2